* {
    font-family: 楷体;;
}

#purch_bill_div_info {
    position: absolute;
    top: 70px;
}

input {
    padding: 2px;
    width: 200px;
    margin: 2px;
}

.ui-helper-hidden-accessible {
    display: none;
}

.purch_bill_head_item {
    display: inline-block;
    margin-left: 10px;
}

.purch_bill_foot_item {
    display: inline-block;
}

#purch_bill_div_info {
    height: 15%;
    width: 80%;
    padding-left: 200px;
    margin-top: 10px;
}

table {
    margin-top: 5px;
    text-align: center;
}

tr:hover {
    background-color: #eeeeee;
}

td {
    height: 30px;
    width: 300px;
}

#purch_bill_info_creationtime_div {
    margin-left: 50px;
}

#purch_bill_info_billid_div {
    margin-left: 50px;
}

#purch_bill_foot_items {
    position: absolute;
    right: 200px;
    bottom: 100px;
}

#purch_bill_head_items tr:hover {
    background-color: #ffffff;
}

#commit_button{
    float: right;
    margin-right: 200px;
    margin-top: 20px;
}